* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: CircularStd-medium;
  src: url("./Assignment3Fonts/Circular-Std-Font/Circular\ Std\ Medium.ttf");
}

@font-face {
  font-family: CircularStd-bold;
  src: url("./Assignment3Fonts/Circular-Std-Font/Circular\ Std\ Bold.ttf");
}

@font-face {
  font-family: AkkuratPro-bold;
  src: url("./Assignment3Fonts/AkkuratPro/AkkuratPro-Bold.otf");
}

@font-face {
  font-family: AkkuratPro-regular;
  src: url("./Assignment3Fonts/AkkuratPro/AkkuratPro-Regular.otf");
}

:root {
  --blue-grey: #637696;
  --squash: #e6b413;
  --green-blue: #00b178;
  --denim-blue-30: rgba(60, 90, 154, 0.3);
  --scarlet: #d0021b;
  --dark-lime-green: #86c306;
  --cerulean: #009cde;
  --nice-blue-7: rgba(23, 115, 166, 0.07);
  --dark-grey-blue: #3a4e6f;
  --cerulean-30: rgba(0, 156, 222, 0.3);
  --golden-yellow: #f8c41c;
  --ice-blue: #f6fcff;
  --cerulean-10: rgba(0, 156, 222, 0.1);
  --cerulean-30: rgba(0, 156, 222, 0.3);
  --cerulean-20: rgba(0, 156, 222, 0.2);
  --cerulean-4: rgba(0, 156, 222, 0.04);
  --golden-yellow: #f8c41c;
  --white: white;
  --black: black;
  --error: rgba(208, 2, 27, 0.5);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
